.main {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
  margin:12px
}

.mainer {
  padding-left: 10px;
}

.text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5em;
}

.students {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  position: relative;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.students_card {
  width: 200px;
  position: relative;
}

.students_card_img {
  height: 270px;
  background: #86C6F4;
}

.new-students {
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  background: #3AA828;
  color: #FFFFFF;
  padding: 2PX 6PX 2PX;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 118px;
}

.name-student {
  display: block;
  text-align: center;
}